# 호스트 머신의 known_hosts 파일에 등록된 매니지드 노드인지 체크하는것 무시
[defaults]
inventory = ./inventory.ini
host_key_checking=false

# ansible user는 sudo를 사용해 root권한을 가지고 역할을 수행함, sudo명령시 비밀번호 물어보지 않음
# 전제 조건: ansible user는 sudo를 사용할 수 있어야 함
; [privilege_escalation]
; become = True
; become_method = sudo
; become_user = root
; become_ask_pass = false