# App info
client_id       = ""
client_secret   = ""
subscription_id = ""
tenant_id       = ""

# Managed Image info
managed_image_resource_group_name = ""
managed_image_name                = ""

# Inflxudb info
influxdb_name = ""
influxdb_username = ""
influxdb_password = ""